* {
  box-sizing: border-box;
}

html {
  color: #FFFFFF;
  background-color: #3D0817;
}

body {
  font-family: "Malgun Gothic";
}

h1 {
  font-size: 40px;
  text-align: left;
}

p {
  font-size: 25px;
  text-align: left;
}

.wrapper {
  width: 100%;
}

.content-box {
  box-sizing: content-box;
  border: solid #4F4145 15px;
  text-align: left;
  font-size: 18px;
  padding: 10px;
}

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
  width: 33%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 700px) {

}


