* {
  box-sizing: border-box;
}

html {
  color: #FFFFFF;
  background-color: #3D0817;
}

body {
  font-family: "Malgun Gothic";
}

header {
  text-align: center;
  font-size: 30px;
}

a:link {
  color:#FFFFFF;
}

a:visited {
  color: lightblue;
}

.wrapper {
  width: 100%;
}

.content-box {
  box-sizing: content-box;
  border: solid #4F4145 15px;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
  width: 33%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  max-width: 500px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 450px) {
  .wrapper {
    width: auto;
    margin: 1px;
  }

  .group {
    display: flex;
    flex-direction: column;
  }

  .item {
    margin: 0px;
    width: auto;
  }

  
}


